:root{
    --blue-1: #3c429e;


}

*{
    margin: 1px;
}

.input-txt:-ms-input-placeholder { 
    font-family: Impact, sans-serif;
    font-size: 20px;
    color: green;
    letter-spacing: 5px;
  }

  .container{
    border: black;
    border-width: 10px;
  }

  input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  textarea{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  table, th, td{
    table-layout: fixed;
    border: 2px;
    border-width: 2px ;
    border-style:solid;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
    
    
  }
  .row2 th:nth-child(1){
    width:3cm
  }
  .row2 th:nth-child(2){
    width:3cm
  }
  .r1 th:nth-child(1) .r1 th:nth-last-child(){
    width:3cm
  }

  th{
    width:auto
  }
  /* {
    border: 2px;
    border-width: 2px;
    border-style: solid;
  } */



  .row{
    display: flex;
  }


  form{
    border: solid black ;
    border-width: 2px;
    width: fit-content;
  }

  .fName{
    width: 50%;
  }